html {
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  background-color: #ddd;
}

.search {
  border-style: solid;
  border-color: #000;
  background-color: #fff;
}

img {
  width: 100%;
}

.logo {
  max-width: 200px;
}
