html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

img {
  width: 100%;
}

.logo {
  max-width: 200px;
}

.scroll {
  min-width: 50em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}

.search-icon {
  left: .3em;
}
